@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.makeCard {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 5px solid ghostwhite;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
.makeCard__details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: ghostwhite;
}
.makeCard__details p {
  font-family: "Lato", sans-serif;
}
.makeCard__measures {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: ghostwhite;
}
.makeCard__measures p {
  font-family: "Lato", sans-serif;
}
.makeCard__notes {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: ghostwhite;
}
.makeCard__notes p {
  font-family: "Lato", sans-serif;
}
.makeCard__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}
.makeCard__btns button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: ghostwhite;
}