@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.makeCard {
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 5px solid ghostwhite;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
.makeCard__details {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: ghostwhite;
}
.makeCard__details p {
  font-family: "Lato", sans-serif;
}
.makeCard__measures {
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: ghostwhite;
}
.makeCard__measures p {
  font-family: "Lato", sans-serif;
}
.makeCard__notes {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: ghostwhite;
}
.makeCard__notes p {
  font-family: "Lato", sans-serif;
}
.makeCard__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.makeCard__btns button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
}
.makeCard__btns button:first-child {
  background-color: #ffb703;
  color: ghostwhite;
  border: 3px solid ghostwhite;
}
.makeCard__btns button:first-child:hover {
  background-color: ghostwhite;
  color: #ffb703;
  border: 3px solid #ffb703;
  transition: 0.6s ease;
}
.makeCard__btns button:last-child {
  background-color: #dc2f02;
  color: ghostwhite;
  border: 3px solid ghostwhite;
}
.makeCard__btns button:last-child:hover {
  background-color: ghostwhite;
  color: #dc2f02;
  border: 3px solid #dc2f02;
  transition: 0.6s ease;
}

@media screen and (max-width: 1024px) {
  .makeCard__btns {
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .makeCard {
    width: 325px;
  }
  .makeCard__details {
    width: 300px;
  }
  .makeCard__measures {
    width: 300px;
  }
  .makeCard__buttons {
    flex-direction: row;
  }
}