@import "../../variables";

.makeCard {
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 5px solid $primary-color;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;

    &__details {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 20px;
      padding: 10px;
      margin: 10px;
      background-color: $primary-color;

      p {
        font-family: $secondary-font;
      }
    }

    &__measures {
      width: 175px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 20px;
      padding: 10px;
      margin: 10px;
      background-color: $primary-color;

      p {
        font-family: $secondary-font;
      }
    }

    &__notes {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 20px;
      padding: 10px;
      margin: 10px;
      background-color: $primary-color;

      p {
        font-family: $secondary-font;
      }
    }

    &__btns {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px;
      padding: 10px;

        button {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border: none;
          font-weight: bold;
         
        }

        button:first-child {
          background-color: #ffb703;
          color: $primary-color;
          border: 3px solid $primary-color;
       
        }

        button:first-child:hover {
          background-color: $primary-color;
          color: #ffb703;
          border: 3px solid #ffb703;
          transition: 0.6s ease;
        }

        

        button:last-child {
          background-color: #dc2f02;
          color: $primary-color;
          border: 3px solid $primary-color;
       
        }

        button:last-child:hover {
          background-color: $primary-color;
          color: #dc2f02;
          border: 3px solid #dc2f02;
          transition: 0.6s ease;

        }
        


        

    }

    
  





    }

    @media screen and (max-width: 1024px) {
        .makeCard {

        &__btns {
          
          align-items: center;
          

      }
    }
  }

  @media  screen and (max-width: 500px) { 
    .makeCard {
      width: 325px;

      &__details {
        width: 300px;
      }

      &__measures {
        width: 300px;
      }

      
    

      &__buttons {
        flex-direction: row;
      }

    }
    
  }