@import "../../variables";

.journalPage {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  .calendarInput {
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    
  
    input {
      width: 300px;
      border: none;
      border-radius: 20px;
      padding: 5px;
      background-color: $primary-color;
      font-family: $secondary-font;
    }

    label {
      padding: 5px;
      font-family: $secondary-font;

    }

  }
  
  .textInput {
    display: flex;
    flex-direction: column;
    margin: 10px;

    h3 {
      margin: 5px;
      font-family: $primary-font;
    }

    label {
      padding: 5px;
      font-family: $secondary-font;

    }


    input {
      width: 300px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      font-family: $secondary-font;

    }

    label {
      padding: 5px;
      font-family: $secondary-font;

    }

  }

  .numberInput {
    display: flex;
    flex-direction: column;
    margin: 10px;
  
    h3 {
      margin: 5px;
      font-family: $primary-font;
    }
  
    &__row {
      display: flex;
    
    }
  
    input {
      width: 50px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      font-family: $secondary-font;    
    }

    label {
      padding: 5px;
      font-family: $secondary-font;
      margin-right: 5px;
    }
    
  }
  
 
  .textArea {
    display: flex;
    flex-direction: column;
    padding: 10px
    
  }
  
  label {
    padding: 5px;
    font-family: $secondary-font;
    margin-right: 5px;
  }
  
  textarea {
    border-radius: 20px;
    border: none;
    font-family: $secondary-font;
    padding: 7px;
  
  }

  
button {
  @include button($width: 150px)

}



}