@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.journalPage {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journalPage .calendarInput {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
}
.journalPage .calendarInput input {
  width: 300px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  background-color: ghostwhite;
  font-family: "Lato", sans-serif;
}
.journalPage .calendarInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.journalPage .textInput {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.journalPage .textInput h3 {
  margin: 5px;
  font-family: "Open-Sans", sans-serif;
}
.journalPage .textInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.journalPage .textInput input {
  width: 300px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
}
.journalPage .textInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.journalPage .numberInput {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.journalPage .numberInput h3 {
  margin: 5px;
  font-family: "Open-Sans", sans-serif;
}
.journalPage .numberInput__row {
  display: flex;
}
.journalPage .numberInput input {
  width: 50px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
}
.journalPage .numberInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
  margin-right: 5px;
}
.journalPage .textArea {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.journalPage label {
  padding: 5px;
  font-family: "Lato", sans-serif;
  margin-right: 5px;
}
.journalPage textarea {
  border-radius: 20px;
  border: none;
  font-family: "Lato", sans-serif;
}
.journalPage button {
  width: 150px;
  background-color: ghostwhite;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}