@import "../../variables";

.navBar {
  width: 100%;
  display: flex;
  justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
    }
       
    button {
      @include button($width: 150px);
      
    }

    button:hover {
      background-color: #FDC231;
      color: $primary-color;
      border: 3px solid $primary-color;
      transition: 0.6s ease;
      cursor: pointer;
      box-shadow: 2px 2px 7px darkgray;
    }

     

  
}


