@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navBar ul {
  display: flex;
  flex-direction: column;
}
.navBar button {
  width: 150px;
  background-color: ghostwhite;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.navBar button:hover {
  background-color: #FDC231;
  color: ghostwhite;
  border: 3px solid ghostwhite;
  transition: 0.6s ease;
  cursor: pointer;
  box-shadow: 2px 2px 7px darkgray;
}