@import "../../variables";

.textInput {
  display: flex;
  flex-direction: column;
  margin: 10px;

  h3 {
    margin: 5px;
    font-family: $primary-font;
  }

  label {
    padding: 5px;
    font-family: $secondary-font;

  }


  input {
    width: 300px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family: $secondary-font;

  }

  label {
    padding: 5px;
    font-family: $secondary-font;

  }

}