@import "../../variables";

.searchBox {
  display: flex;
  flex-direction: column;
  margin: 10px;

  label {
    padding: 5px;
    font-family: $secondary-font;
  }


  input {
    width: 300px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family: $secondary-font;
  }

 
}