@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.searchBox {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.searchBox label {
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.searchBox input {
  width: 300px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
}