
.numberInput {
  display: flex;
  flex-direction: column;
  margin: 10px;

  h3 {
    margin: 5px;
  }

  &__row {
    display: flex;
  
  }

  input {
    width: 60px;
    border-radius: 20px;
    padding: 10px;    
  }
  
}

label {
  margin-right: 5px;
}