@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(254, 200, 67, 0.8);
  z-index: 100;
}

.editMake {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fec843;
  border-radius: 20px;
}
.editMake p {
  align-self: flex-start;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
}
.editMake p:hover {
  color: darkgray;
  cursor: pointer;
}
.editMake .calendarInput {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
}
.editMake .calendarInput input {
  width: 300px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  background-color: ghostwhite;
  font-family: "Lato", sans-serif;
}
.editMake .calendarInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.editMake .textInput {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.editMake .textInput h3 {
  margin: 5px;
  font-family: "Open-Sans", sans-serif;
}
.editMake .textInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.editMake .textInput input {
  width: 300px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  padding: 7px;
}
.editMake .textInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.editMake .numberInput {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.editMake .numberInput h3 {
  margin: 5px;
  font-family: "Open-Sans", sans-serif;
}
.editMake .numberInput__row {
  display: flex;
}
.editMake .numberInput input {
  width: 50px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: "Lato", sans-serif;
}
.editMake .numberInput label {
  padding: 5px;
  font-family: "Lato", sans-serif;
  margin-right: 5px;
}
.editMake .textArea {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.editMake label {
  padding: 5px;
  font-family: "Lato", sans-serif;
  margin-right: 5px;
}
.editMake textarea {
  border-radius: 20px;
  border: none;
  font-family: "Lato", sans-serif;
  padding: 5px;
}
.editMake button {
  width: 150px;
  background-color: ghostwhite;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}