@import "./variables";


.app {
  display: flex;
  flex-direction: column;
  
  

    h1 {
     
      font-family: $primary-font;
      color: $primary-color;
      font-size: 45px;
      margin: 15px;
    } 

    
}

.appMain {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
  
  &__nav {
    width: 250px;
  }

  &__display {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

