@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.app {
  display: flex;
  flex-direction: column;
}
.app h1 {
  font-family: "Open-Sans", sans-serif;
  color: ghostwhite;
  font-size: 45px;
  margin: 15px;
}

.appMain {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
}
.appMain__nav {
  width: 250px;
}
.appMain__display {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}