.app {
  display: flex;
  flex-direction: column;
}
.app h1 {
  height: 15vh;
}

.appMain {
  width: 100vw;
  display: flex;
  background: transparent;
}
.appMain__nav {
  width: 250px;
}
.appMain__display {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}